@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background-color: rgba(2, 80, 137, 0.1019607843);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  margin: 0.5rem;
  z-index: 10;
  position: relative;
}
header .logo-left {
  display: flex;
}
header .maya {
  padding: 14px;
  width: 77px;
  height: 53px;
  color: #003459;
}
header .logo-text {
  font-weight: 700;
  font-size: 29.24px;
  line-height: 20px;
}
header .logo-text-in {
  font-weight: 100;
  font-size: 16.24px;
}
header .menu .menu-list {
  padding: 10px;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  color: #003459;
  font-weight: 700;
  cursor: pointer;
}
header .menu-list:hover {
  color: #025089;
}
header .menu-list .active {
  color: #fa4a00;
}
header .btn-border,
header .btn-background {
  padding: 10.15px 28.41px 10.15px 28.41px;
  border-radius: 57.84px;
  border-color: #003459;
  color: #003459;
  font-weight: 500;
  background-color: rgba(204, 204, 204, 0.1019607843);
  cursor: pointer;
}
header .btn-background {
  background-color: #003459;
  color: white;
}
header .btn-border:hover {
  background-color: #003459;
  color: white;
}
header .btn-background:hover {
  background-color: #fa4a00;
  color: white;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  margin: 0.5rem;
}
.hero-section .left-section {
  width: 50%;
  position: relative;
  z-index: 1;
}
.hero-section .left-section h1 {
  font-weight: 800;
  color: #003459;
  font-size: 60px;
  padding: 0;
  margin: 0;
}
.hero-section .left-section p {
  padding: 5px;
  margin: 0;
  color: #003459;
}
.hero-section .left-section .register {
  padding: 12px 40px;
  border-radius: 57px;
  width: 180px;
  margin-left: 0;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  background-color: #003459;
  color: #eef0f0;
}
.hero-section .left-section .register:hover {
  background-color: #00233c;
  color: #ebebeb;
}
.hero-section .left-section .watch {
  display: inline-flex;
  align-items: center;
  color: #003459;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  width: auto;
  padding: 12px 40px;
  text-align: center;
  border-radius: 57px;
}
.hero-section .left-section .watch img {
  margin-left: 8px;
  width: 18px;
  height: auto;
}
.hero-section .left-section .watch:hover {
  background-color: #003459;
  color: #eef0f0;
}
.hero-section .right-section {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  left: 50%;
}
.hero-section .right-section img {
  width: 1080px;
  margin: 0;
  padding: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logo-carosel {
  background-color: #ffffff;
  width: 100%;
  z-index: 2;
  position: relative;
  padding: 20px 0;
  overflow: hidden;
}
.logo-carosel .logo-list {
  display: flex;
}
.logo-carosel ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.logo-carosel li {
  list-style: none;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  animation: 5s slide infinite linear;
}
.logo-carosel::before {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.logo-carosel::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.logo-carosel li:hover {
  animation-play-state: paused;
}
.logo-carosel ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo-carosel ul li:first-child {
  margin-left: 40px;
}
.logo-carosel ul li:last-child {
  margin-right: 40px;
}

.about-us {
  text-align: center;
  padding: 50px 20px;
}
.about-us .maya-tx {
  background-color: #fa4a00;
  color: #fff;
  width: 100px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  display: inline-block;
  border-radius: 57px;
}
.about-us h1 {
  padding: 20px;
  color: #003459;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}
.about-us p {
  color: #242b33;
  line-height: 1.5;
  margin-bottom: 40px;
}
.about-us .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
.about-us .card .first-card,
.about-us .card .second-card,
.about-us .card .third-card {
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.about-us .card .first-card h2,
.about-us .card .first-card p,
.about-us .card .second-card h2,
.about-us .card .second-card p,
.about-us .card .third-card h2,
.about-us .card .third-card p {
  display: flex;
  color: #fff;
  margin: 10px 20px;
}
.about-us .card .first-card button,
.about-us .card .second-card button,
.about-us .card .third-card button {
  background-color: #fff;
  color: #00233c;
  font-weight: 900;
  border: none;
  border-radius: 57px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px;
  width: 210px;
  margin-top: auto;
}
.about-us .card .first-card button:hover,
.about-us .card .second-card button:hover,
.about-us .card .third-card button:hover {
  background-color: #00233c;
  color: #fff;
}
.about-us .card .first-card {
  background-image: url(../res/man-with-dog-ABout.png);
  grid-column: 1;
  height: 700px;
  width: 100%;
}
.about-us .card .second-card {
  background-image: url(../res/girl-dog-smiling.png);
  grid-column: 2;
  height: 370px;
}
.about-us .card .third-card {
  background-image: url(../res/girl-feeding-dog-plate.png);
  grid-column: 2;
  height: 300px;
  position: relative;
  top: -320px;
}

.team-section {
  text-align: center;
  padding: 50px 20px;
}
.team-section .team-tx {
  background-color: #fa4a00;
  color: #fff;
  width: 100px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  display: inline-block;
  border-radius: 57px;
}
.team-section h1 {
  padding: 20px;
  color: #003459;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}
.team-section p {
  color: #242b33;
  line-height: 1.5;
  margin-bottom: 40px;
}
.team-section .main-team {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.team-section .main-team .card-ceo,
.team-section .main-team .card-cvo,
.team-section .main-team .card-cd {
  border-radius: 25px;
  background-color: rgba(2, 80, 137, 0.1019607843);
  padding: 2px;
  margin: 10px;
  display: flex;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  text-align: center;
  gap: 5px;
  height: 550px;
  overflow: hidden;
}
.team-section .main-team img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-section .main-team h2 {
  padding-top: 20px;
  color: #003459;
  font-weight: 600;
}
.team-section .main-team p {
  color: #003459;
  font-weight: 200;
  padding-bottom: 25px;
}

.pricing-card {
  text-align: center;
  padding: 50px 20px;
  /* Styling for the container */
  /* Common button styles */
  /* Active button styles */
  /* Inactive button styles */
}
.pricing-card .pricing-tx {
  background-color: #fa4a00;
  color: #fff;
  width: 120px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  display: inline-block;
  border-radius: 57px;
}
.pricing-card h1 {
  padding: 20px;
  color: #003459;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}
.pricing-card p {
  color: #242b33;
  line-height: 1.5;
  margin-bottom: 40px;
}
.pricing-card .two-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 57px;
  padding: 10px;
  width: 420px;
  margin: 0 auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.pricing-card .toggle-btn {
  padding: 20px;
  border: none;
  border-radius: 57px; /* Matches the container radius */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 1; /* Makes both buttons equal width */
  text-align: center;
}
.pricing-card .toggle-btn.active {
  background-color: #00233c;
  color: #ffffff;
}
.pricing-card .toggle-btn:not(.active) {
  background-color: #ffffff;
  color: #00233c;
}
.pricing-card .pricing-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px auto;
  padding: 20px;
}
.pricing-card .pricing-section .pricing-card {
  width: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  transform: scale(1);
}
.pricing-card .pricing-section .pricing-card:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #00233c;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}
.pricing-card .pricing-section .pricing-card:hover h2,
.pricing-card .pricing-section .pricing-card:hover h3,
.pricing-card .pricing-section .pricing-card:hover p,
.pricing-card .pricing-section .pricing-card:hover ul li {
  color: #fff;
}
.pricing-card .pricing-section .pricing-card button {
  background-color: #fff;
  color: #00233c;
  font-weight: 800;
}
.pricing-card .pricing-section .pricing-card h2 {
  font-size: 2rem;
  color: #00233c;
  margin: 0;
}
.pricing-card .pricing-section .pricing-card h2 span {
  font-size: 1rem;
  color: #888;
}
.pricing-card .pricing-section .pricing-card h3 {
  font-size: 1.5rem;
  color: #003459;
  margin: 10px 0;
}
.pricing-card .pricing-section .pricing-card p {
  font-size: 0.9rem;
  color: #777;
  margin: 15px 0;
}
.pricing-card .pricing-section .pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.pricing-card .pricing-section .pricing-card ul li {
  font-size: 0.9rem;
  color: #333;
  margin: 5px 0;
  text-align: left;
}
.pricing-card .pricing-section .pricing-card button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #f4f4f4;
  color: #003459;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.pricing-card .pricing-section .pricing-card button:hover {
  background-color: #00233c;
  color: #fff;
}
.pricing-card .pricing-section .pricing-card.highlighted {
  transform: scale(1.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #00233c;
  color: #fff;
  position: relative;
  z-index: 3;
}
.pricing-card .pricing-section .pricing-card.highlighted h2,
.pricing-card .pricing-section .pricing-card.highlighted h3,
.pricing-card .pricing-section .pricing-card.highlighted p,
.pricing-card .pricing-section .pricing-card.highlighted ul li {
  color: #fff;
}
.pricing-card .pricing-section .pricing-card.highlighted .badge {
  position: relative;
  top: -10px;
  left: 70%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #00233c;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 50px;
  width: 120px;
}
.pricing-card .pricing-section .pricing-card.highlighted h2 {
  color: #ffffff;
}
.pricing-card .pricing-section .pricing-card.highlighted h3 {
  color: #ffffff;
}
.pricing-card .pricing-section .pricing-card.highlighted p {
  color: #dcdcdc;
}
.pricing-card .pricing-section .pricing-card.highlighted button {
  background-color: #ffffff;
  color: #00233c;
}
.pricing-card .pricing-section .pricing-card.highlighted button:hover {
  background-color: #003459;
  color: #ffffff;
}

.professional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: linear-gradient(135deg, #00233c 50%, #335977 50%);
  color: white;
  border-radius: 20px;
  max-width: 1200px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
}
.professional .pro-sec-1 {
  flex: 1;
  max-width: 500px;
}
.professional h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.professional p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.professional .cta {
  padding: 15px 30px;
  background-color: white;
  color: #00233c;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.professional .cta-button:hover {
  background-color: #ccc;
}
.professional .dog-im {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  overflow: hidden;
}
.professional img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.footer-section {
  background-color: #003459;
  color: white;
  padding: 50px 20px;
  border-radius: 20px 20px 0px 0px;
}
.footer-section .subscribe {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  margin-right: 20px;
}
.footer-section h2 {
  flex: 1;
}
.footer-section .subscribe-form {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border-radius: 8px;
  width: 650px;
  padding: 10px;
}
.footer-section .subscribe-form input {
  padding: 12px 15px;
  font-size: 1rem;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #333;
  width: 100%;
  outline: none;
}
.footer-section .subscribe-form input:hover {
  border-color: #00233c;
  cursor: pointer;
}
.footer-section .subscribe-form .email-form {
  border: 1px solid #99a2a5;
  padding: 10px;
  width: 450px;
  text-align: center;
  border-radius: 8px;
}
.footer-section .subscribe-form button {
  background-color: #003459;
  color: #fff;
  padding: 10px;
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 163px;
  height: 48px;
}
.footer-section .footer-links {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
}
.footer-section .footer-icons {
  display: flex;
  justify-content: flex-end;
  flex: 2;
  gap: 10px;
}
.footer-section a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.footer-section .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: #99a2a5;
}
.footer-section .footer-bottom a {
  color: #99a2a5;
}
.footer-section .footer-terms {
  margin: 0 20px;
}

@media screen and (max-width: 765px) {
  .hero-section {
    flex-direction: column;
    padding: 10px;
  }
  .hero-section .left-section {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .hero-section .left-section h1 {
    font-size: 50px;
  }
  .hero-section .left-section p {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
    white-space: normal;
  }
  .hero-section .left-section .register, .hero-section .left-section .watch {
    width: 100%;
    margin: 10px 0;
    padding: 14px;
    font-size: 14px;
  }
  .hero-section .left-section .watch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #003459;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 12px 40px;
    text-align: center;
    border-radius: 57px;
    border: 1px solid #003459;
    border-color: #003459;
  }
  .hero-section .left-section .watch:hover {
    background-color: #003459;
    color: #ebebeb;
  }
  .hero-section .right-section {
    width: 100%;
    padding: 20px 0;
    display: block;
    margin-top: 20px;
  }
  .hero-section .right-section img {
    width: 100%;
    position: relative;
    top: 120px;
    display: none;
  }
}
@media screen and (max-width: 765px) {
  .logo-carosel {
    padding: 10px 0;
  }
  .logo-carosel .logo-list {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
  }
  .logo-carosel ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .logo-carosel li {
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    animation: 5s slide infinite linear;
  }
  .logo-carosel ul li img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .logo-carosel ul li:first-child {
    margin-left: 20px;
  }
  .logo-carosel ul li:last-child {
    margin-right: 20px;
  }
}
@media screen and (max-width: 765px) {
  .about-us {
    padding: 20px 10px;
    text-align: center;
  }
  .maya-tx {
    background-color: #fa4a00;
    color: #fff;
    width: 50px;
    padding: 12px;
    margin: 0 auto;
    margin-top: 20px;
    display: inline-block;
    border-radius: 57px;
  }
  h1 {
    padding: 10px 0;
    color: #003459;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  p {
    color: #242b33;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 14px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  /* First card */
  .first-card,
  .second-card,
  .third-card {
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 15px;
    color: #fff;
    width: 90%;
    margin: 0 auto;
  }
  .first-card h2, .first-card p,
  .second-card h2,
  .second-card p,
  .third-card h2,
  .third-card p {
    color: #fff;
    margin: 10px;
    font-size: 18px;
  }
  .first-card button,
  .second-card button,
  .third-card button {
    display: block;
    background-color: #fff;
    color: #00233c;
    font-weight: 900;
    border: none;
    border-radius: 57px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    width: 100%;
  }
  .first-card button:hover,
  .second-card button:hover,
  .third-card button:hover {
    background-color: #00233c;
    color: #fff;
  }
  /* Card backgrounds and heights */
  .first-card {
    background-image: url(../res/man-with-dog-ABout.png);
    height: 250px;
  }
  .second-card {
    background-image: url(../res/girl-dog-smiling.png);
    height: 250px;
  }
  .third-card {
    background-image: url(../res/girl-feeding-dog-plate.png);
    height: 250px;
  }
}/*# sourceMappingURL=main.css.map */